<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Work Time Tracking</title>
	<link rel="stylesheet" type="text/css" href="css/app.css" />
	<script src="https://raw.github.com/olivernn/augment.js/master/augment.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div id="divCurrentProject" style="display: none">
		<span id="projectText"></span> <span id="currentProjectName"><%= currentProjectName %></span> <button id="btnProjectStop">Stop</button>
	</div>
	<div>
		<label for="selectProject">Projects: </label><select id="selectProject"></select><button id="btnProjectStart">Start</button>
	</div>
	<div><button id="btnLunchStart">Start Lunch</button></div>
	<button id="btnWeeklyReport">Generate weekly report</button>
	<a id="linkToThisWeeksTimes" href="projects">Time submissions for this week</a>
	<div id="divStatus"></div>
	<div id="divReport"></div>

	<script src="js/app.js" type="text/javascript"></script>
</body>
</html>
